.alertModal{
  width: 100%;
  height: 100vh;
  background-color: rgba(172, 172, 172, 0.377);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;
}
.alertModal .alertModal-con{
  width: 600px;
  height: 200px;
  background-color: rgba(22, 22, 22);
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.alertModal .alertModal-con span{
  font-size: 20px;
}
.alertModal .alertModal-con .cartMoveBtn{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.alertModal .alertModal-con .cartMoveBtn button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 10px;
}
@media (max-width:768px){
  .alertModal .alertModal-con{
    width: 95%;
    height: 150px;
    padding: 15px 10px;
  }
  .alertModal .alertModal-con .cartMoveBtn button{
    width: 140px;
  }
}

