@import url(cartAlertModal.css);
.cartModal{
  width: 100%;
  height: 100vh;
  background-color: rgba(172, 172, 172, 0.377);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cartModal .cartModal-con{
  width: 600px;
  height: 200px;
  background-color: rgba(22, 22, 22);
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.cartModal .cartModal-con span{
  font-size: 20px;
}
.cartModal .cartModal-con .cartBtn{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.cartModal .cartModal-con .cartBtn button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 10px;
}
@media (max-width:768px){
  .cartModal .cartModal-con{
    width: 95%;
    height: 150px;
    padding: 15px 10px;
  }
  .cartModal .cartModal-con .cartBtn button{
    width: 140px;
  }
}
