.signUp {
  width: 100%;
}
.signUp-con {
  width: 100%;
  height: calc(100vh - 162px - 80px);

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 30px;
  box-sizing: border-box;
}

.signUp-form {
  flex: 0 1 600px;
  
  
  display: flex;
  flex-direction: column;
  background-color: #222;

  border-radius: 20px;

  padding: 30px 60px;
  box-sizing: border-box;
}

.signUp-form > ul {
  display: flex;
  flex-direction: column;

  gap: 20px;

  padding: 0 10px;

  box-sizing: border-box;
}

.signUp-form > ul > li {
  display: flex;

  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;

}

.signUp-form > ul > li:not(:last-child) {
  border: 2px solid rgba(255, 0, 0, 55%);
  box-sizing: border-box;

}


.signUp-form > ul > li > input {
  flex: 1;
  border: 0;

  text-indent: 10%;
  font-size: 16px;
  font-weight: bold;


  padding: 1vw 0;
  box-sizing: border-box;

  background-color: #3f3f3f;
  color: #fff;
}

.signUp-form > ul > li > input::placeholder {
  color: #fff;
}

.signUp-form > ul > ul.check-tag > li > input{
  display: none;
}

.signUp-form > ul > ul.check-tag > li > label {
  cursor: pointer;
}


.signUp-form > ul > ul.check-tag > li > label::before {
  display: inline-block;
  content: "";
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
  border-radius: 5px;

  vertical-align: middle; /* inline태그 자식 세로정렬*/
}

.signUp-form > ul > ul.check-tag > li > input:checked + label::before {
  content: "";
  background: url(/public/images/auth/check_icon.png) no-repeat 50%/cover;
}

.signUp-form > ul > li button {
  flex: 1;
  border: 0;

  padding: 1vw 0;
  box-sizing: border-box;

  border-radius: 2vw;

  background-color: rgba(255, 0, 0, 54%);
  color: #fff;

  cursor: pointer;
}






/* 태블릿 */
@media (max-width: 1024px) {
  .signUp-form {
    flex: 0 1 450px;
  }

}

/* 모바일 */
@media (max-width: 768px) {
  .signUp-con {

    align-items: unset;

    padding-bottom: 150px;

    height: auto;

  }



  .signUp-form {
    flex: 0 1 768px;

    background-color: unset;
    border-radius: unset;
  
    padding: 0;
    box-sizing: border-box;

  }

  .signUp-form > ul {
    padding-bottom: 10px;
  }

  .signUp-form > ul > h1 {
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  .signUp-form > ul > li > input {
    padding: 2vmax 0;
    
  }

  .signUp-form > ul > li button {
    padding: 3vmax 0;
  }

 
 

}