@import url(dramaModal.css);
.drama{
  width: 100%;
}
.drama .drama-con{
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.drama .drama-con .topContent{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.drama .drama-con h1{
  font-size: 40px;
}
.drama .drama-con .drama-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.drama .drama-con .drama-list .dramaList{
  display: flex;
  flex-direction: column;
  gap: 1vw 0;
  box-sizing: border-box;
}
.drama .drama-con .drama-list .dramaList .drama-head{
  display: flex;
  padding: 1vw 0;
  box-sizing: border-box;
  align-items: center;
}
.drama .drama-con .drama-list .dramaList .drama-head select{
  width: 100px;
  height: 26px;
  display: flex;
  justify-content: center;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}
.drama .drama-con .drama-list .dramaList .drama-head select:focus{
  border: 1px solid #9b51e0;
  box-sizing: border-box;
  border-radius: 5px;
  outline: 1px solid #f8e4ff;
}
.drama .drama-con .drama-list .dramaList .drama-head h2{
  width: 140px;
}
.drama .drama-con .drama-list .dramaList ul{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,auto);
  grid-auto-rows: 200px;
  gap: 2vw;
}
.drama .drama-con .drama-list .dramaList ul li{
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  transition: all 0.2s;
}
.drama .drama-con .drama-list .dramaList ul li:hover{
  cursor: pointer;
  filter: grayscale(100%);
  transform: scale(1.05);
}
.drama .drama-con .drama-list .dramaList ul li img{
  width: 100%;
  display: block;
  border-radius: 5px;
}
@media (max-width: 1024px){
  .drama .drama-con .drama-list .dramaList ul{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    grid-auto-rows: auto;
  }
  /* .drama .drama-con .drama-list .dramaList ul li:nth-child(4){
    display: none;
  } */
}
@media (max-width: 768px){
  .drama .drama-con .drama-list .dramaList ul{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    grid-auto-rows: auto;
  }
  .drama .drama-con .drama-list .dramaList .drama-head h2{
    width: 100px;
  }
  .drama .drama-con h1{
    font-size: 30px;
  }
  .drama .drama-con .drama-list .dramaList h2{
    font-size: 20px;
  }
  .drama .drama-con{
    padding: 15px;
  }
}